body{
  background-color: navy;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.flexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

p{
  font-weight: bold;
}
.container {
  width: 500px;
  background-color: palevioletred;
  margin: 2rem;
  align-items: center;
}

canvas{
  width: 200px;
  height: 200px;
}